<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mybatis-3-mapper.dtd 는 select, insert, delete 등을 지원한다. -->

<mapper namespace="member">

<select id="getlist" resultType="m">
<!--이 한줄로 실행된 쿼리문의 레코드 하나 값을 DTO에 담고, 여러 DTO들을 List에 넣어준다.  -->
	
	select * from member3
	
</select>

<insert id="add" parameterType="member.DTO.MemDto">
insert into member3 values(#{memberId} , #{password}, #{name} ,#{email})
</insert>

<delete id="del" parameterType="string">
	delete from member3 where memberId=#{memberId}
</delete>

<update id="Modify" parameterType="map">
	update member3 set password=#{password} where memberId=#{memberId}
</update>

<select id="useIf" parameterType="member.DTO.Name" resultType="member.DTO.MemDto">

	select * from member3
	
	<where>
	<if test="name != null">
	name = #{name}	
	</if>
	</where>
	
</select>


<update id="ModifyUseSetIf" parameterType="member.DTO.MemDto">
update member3 
<set>

<if test="password !=null">
	password = #{password} ,
</if>

<if test="name !=null">
	name = #{name} ,
</if>

<if test="email !=null">
	email = #{email} ,
</if>
</set>
where memberId = #{memberId}
</update>


<select id="useForeach" resultType="m">
<!-- foreach의 collection에 올 수 있는 것은 list와 array 두개이다. -->
	
	select * from member3
	where name in
	<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
	#{item}
	</foreach>
	
</select>

<select id="useLike" parameterType="string" resultType="m">
	select * from member3
	where email like '%' || #{email} || '%'
</select>


</mapper>